<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Itziar Urbieta">
  <meta name="description" content="NLP-API">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/883/883039.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NLP</title>

</head>

<body>

  <header>
    <h1 class="title">
      Evaluation Of News Article Using Natural Language Processing (NLP)
    </h1>
  </header>

  <div class="text">
    <p>Insert an URL in the form below and you will get a short information about how the AI interprets the text.</p>
  </div>

  <main>
    <section>
      <form class="" onsubmit="Client.handleSubmit(event)">
        <input id="name" type="text" name="input" value="" placeholder="Please, enter an URL">
        <input type="submit" name="" value="Submit">
      </form>
      <section>

        <section>
          <div id="results"></div>
        </section>
  </main>

  <footer>
            <p>&copy; Ujjawal Joshi</p>
        </footer>

</body>
</html>