header {
   
    padding: 30px 40px;

    
    .title{
    font-size:30px;
        font-weight: bold;
        text-align:center;
    }
    
}

.text {
    padding: 20px 40px;
    text-align:center;
    font-size:25px;
}